.container {
    max-width: 100%;
    width: 400px;
    display: block;
    margin: 50px auto;
}
.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.tabs__item {
    color: #3300f8;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
}
.content {
    width: 100%;
    position: relative;
}
.content__block {
    width: 100%;
}

.catalog, .favourites {
    display: none;
} 

.active {
    display: block;
}

.name {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0;
    padding: 10px 0;
}
.name::before {
    content: '';
    position: absolute;
    left: -20px;
    width: 14px;
    height: 8px;
    background: url('expand.png') no-repeat center;
    transform: rotate(-90deg);
    background-size: cover;
    transition: 200ms;
}
.open > .name::before {
    transform: rotate(0);
}

.user {
    border-bottom: 1px solid #333333;
}

.album {
    padding-left: 20px;
    display: none;
}
.open > .album {
    display: block;
}

.album .image-block {
    display: none;
}
.open > .image-block {
    display: block;
}

.image-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}
.image-block__inner-block {
    display: inline-block;
    position: relative;
}
.star {
    position: absolute;
    top: 0;
    left: -30px;
    cursor: pointer;
}
.star-default {
    display: block;
}
.star-active {
    display: none;
}
.added .star-default {
    display: none;
}
.added .star-active {
    display: block;
}

.gallery {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0, .7);
    display: none;
    z-index: 10;
}
.gallery.open {
    display: flex;
}